<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="VerboseLoggingEnabled" value="false" />
    <add key="WriteToTraceLog" value="true" />

    <add key="ThreadWaitingTime" value="2000" />
    <add key="ThreadWaitingTime.GlobalUpdate" value="10000" />
    <add key="ThreadWaitingTime.Backup" value="5000" />
    <add key="ErrorDocument" value="ErrorCode.xml" />
  </appSettings>
</configuration>